<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1043126950969-lh688ufjkhuqgfg92dc9i4she2ng8b89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043126950969-lh688ufjkhuqgfg92dc9i4she2ng8b89</string>
	<key>API_KEY</key>
	<string>AIzaSyD7HrtfzgAOyaCXVQcduG5CQMF0fDmslKs</string>
	<key>GCM_SENDER_ID</key>
	<string>1043126950969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pitaya.Voiash</string>
	<key>PROJECT_ID</key>
	<string>voiash-794d0</string>
	<key>STORAGE_BUCKET</key>
	<string>voiash-794d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043126950969:ios:8041154d511de066</string>
	<key>DATABASE_URL</key>
	<string>https://voiash-794d0.firebaseio.com</string>
</dict>
</plist>